/*
* inex
* Copyright 2013, Javier Jimenez @inexsistencia
* www.inexweb.com.ar
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 21/11/2013
*/
/* #basico
================================================== */
	@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono&subset=latin,latin-ext);

	body { background-image: url(gray_jean.png);  font-family: 'Oxygen Mono', sans-serif;}
	h1,h2,h3,h4,h5,h6{font-family: 'Oxygen Mono', sans-serif;}
/*================================================== */


/* #clases generales
================================================== */
	.cont{margin:0 auto; max-width:1200px; width:100%;}
	.c-1140{margin:0 auto; max-width:1140px; width:100%;}
	.c-1024{margin:0 auto; max-width:1024px; width:100%;}
	.c-960{margin:0 auto; max-width:960px; width:100%;}

	.page{
		background-color:rgba(49, 46, 43, .5);
		box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
		margin: 0 auto 1em auto;
		padding: .4em 0;
		max-width: 1200px; /*estas medidas pueden variar */
		min-width: 300px; /*estas medidas pueden variar */
		text-align: center;
		}

	.box{
		background-color: #fdfdfd;
		background-clip: padding-box;
		display: block;
		margin: .4em auto;
		line-height: 18px;
		overflow: hidden;
		padding: .2em 0.25%;
		position: relative;
		width: 98%;
		}

	.ibox{
		background-color: #fdfdfd;
		background-clip: padding-box;
		display: inline-block;
		line-height: 18px;
		margin: .4em 0.25%;
		overflow: hidden;
		padding: .2em 0.5%;
		position: relative;
		min-width: 4%;
		width: 98%;
		vertical-align: top;
		}
		
	.w10{width: 8%;}	.w15{width: 13%;}	
	.w20{width: 18%;}	.w25{width: 23%;}
	.w30{width: 28%;}	.w35{width: 33%;}
	.w40{width: 38%;}	.w45{width: 43%;}
	.w50{width: 48%;}	.w55{width: 53%;}
	.w60{width: 58%;}	.w65{width: 63%;}
	.w70{width: 68%;}	.w75{width: 73%;}
	.w80{width: 78%;}	.w85{width: 83%;}
	.w90{width: 88%;}	.w95{width: 93%;}
	.w100{width: 98%;}

	.b{border: thin rgba(200, 200, 200, 0.25) outset; }
	.bs{box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);}

	.l{text-align: left;}
	.c{text-align: center;}
	.r{text-align: right;}

	.fl{float: left;}
	.fr{float: right;}

	p {margin: .3em 0.25%;}

/*==================================================*/